.nav-bar {
    margin: auto;
}

.span {
    margin-left: 20px;
    font-weight: bold;
}

.login {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: var(--lumo-shade-5pct);
}

.login-login {
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-primary-color);
    border-radius: 1px;
    align-items: stretch;
    width: 50%;
    box-shadow: 5px 5px 10px grey;
}

.login-login-layout {
    width: 50%;
    background-color: white;
    margin-left: 0px;
}

.login-login-information {
    width: 50%;
    padding-top: 10%;
    background-color: var(--lumo-primary-color);
}

.login-title {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.login-author {
    color: white;
}

.my-account-user-details {
    width: 25%;
    align-items: center;
    background-color: var(--lumo-shade-10pct);
}

.my-account-user-rents {
    width: 75%;
    background-color: white;
    margin-left: 0px;
}

.my-account {
    border-style: solid;
    border-width: 2px;
    border-color: var(--lumo-primary-color);
    border-radius: 1px;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 10px grey;
}